@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Rajdhani:wght@300;400;500;600;700&display=swap');
*{
    font-family: "Funnel Sans", sans-serif;
}
/* P #33425B */
/* S #D8E9F0 */
/* A #F33535 */
body{
    background-color: #d8e9f0;
}

.nav{
    position:sticky;
    top:0;
    margin:0;
    padding: 20px;
    color: #d8e9f0;
    background-color:#33425b ;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
h1{
    margin: 0;

}
.image{
    background-image:url("Quarry.jpg") ;
    padding:200px;
    margin:0;
    text-align: center;
    color:whitesmoke;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image h1 , p{
    margin:auto;
    padding:20px;
}
.nav div a , .image a{
    color: #33425b;
    background-color: #d8e9f0;
    border: black solid 2px;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    max-height: 25px;
}
.nav div{
    display: flex;
    justify-content: end;
}
.scroll{
    padding-bottom: 1000px;
}
.contacts{
    text-align: center;
}
#name{
    margin:0;
}
#job{
    text-decoration: underline;
}
#pick{
    position:absolute;
    top:300px;
    left:200px;
}
#rock{
    position:absolute;
    top:340px;
    left:142px;
}
table, th, td {
    border: 1px solid #33425b;
    display: flex;
    justify-content: center;
  }
  table{
    border:0;
    font-size:25px;
    /* margin: 30px; */
    
  }
  td{
    padding: 10px; 
    /* margin: 30px; */
  }
  tr{
    margin: 10px;
    display:block;
  }
  #price{
    text-align: center;
    text-decoration: underline;
  }
  .image h1{
    font-size: 40px;
  }
  .image p{
    font-size: 20px;
  }