@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Rajdhani:wght@300;400;500;600;700&display=swap');
*{
    font-family: "Funnel Sans", sans-serif;
}
/* P #33425B */
/* S #D8E9F0 */
/* A #F33535 */
body{
    background-color: #d8e9f0;
}

.nav{
    position:sticky;
    top:0;
    margin:0;
    padding: 20px;
    color: #d8e9f0;
    background-color:#33425b ;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
h1{
    margin: 0;
}
.image{
    background-image:url("quarry.jpg") ;
    padding:200px;
    margin:0;
    text-align: center;
    color:whitesmoke;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image h1 , p{
    margin:auto;
    padding:20px;
}
.nav div a , .image a{
    color: #33425b;
    background-color: #d8e9f0;
    border: black solid 2px;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    max-height: 25px;
}
.nav div{
    display: flex;
    justify-content: end;
}
.scroll{
    padding-bottom: 1000px;
}
.contacts{
    text-align: center;
}
#name{
    margin:0;
}
#job{
    text-decoration: underline;
}
